@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic);
/* line 3, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 8, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
body {
  font-family: Lato;
  font-size: 18px; }
  /* line 12, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  body a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
    font-weight: 600;
    outline: 0; }

/* line 19, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
.container {
  background: white; }
  /* line 22, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .container .site-what-i-do {
    width: 100%;
    height: auto;
    padding: 2em 0 4em;
    background: #ecf0f1;
    display: inline-block;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset; }
    /* line 31, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    .container .site-what-i-do .site-what-i-do-box {
      width: 33.29%;
      height: auto;
      float: left;
      text-align: center;
      overflow: hidden; }
      /* line 38, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      .container .site-what-i-do .site-what-i-do-box .site-what-i-do-box-top {
        position: relative;
        padding: 0 0 0.3em;
        margin: 0 auto;
        width: 90%;
        border: 1px solid lightgrey;
        padding: 1em 1em 0em;
        background: #214a6d; }
        /* line 47, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
        .container .site-what-i-do .site-what-i-do-box .site-what-i-do-box-top p {
          font-size: 1.5em;
          font-weight: 300;
          margin: 0.5em 0 0.5em;
          color: white; }
        /* line 53, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
        .container .site-what-i-do .site-what-i-do-box .site-what-i-do-box-top i {
          border: 2px solid white;
          border-radius: 60px;
          font-size: 3em;
          display: block;
          width: 100px;
          height: 100px;
          line-height: 90px;
          margin: 0em auto 0;
          color: white; }
      /* line 64, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      .container .site-what-i-do .site-what-i-do-box .site-what-i-do-box-bot {
        width: 90%;
        margin: 0 auto;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        padding: 0.5em 1em 1em;
        border-bottom: 3px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
        background: white; }
        /* line 74, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
        .container .site-what-i-do .site-what-i-do-box .site-what-i-do-box-bot p {
          margin: 0.5em 0 0;
          font-size: 15px;
          font-weight: 300; }
  /* line 79, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .container .site-projects {
    width: 100%;
    height: auto;
    padding: 7em 0 7em;
    background: white;
    display: inline-block;
    width: 100%;
    text-align: center; }
    /* line 88, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    .container .site-projects .site-wrapper {
      width: 100% !important;
      max-width: 1280px; }
    /* line 92, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    .container .site-projects .site-projects-box {
      width: 500px;
      display: inline-block;
      margin: 0 1.5em;
      vertical-align: top; }
    /* line 98, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    .container .site-projects .site-projects-top {
      position: relative;
      text-align: center; }
      /* line 102, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      .container .site-projects .site-projects-top p {
        padding: 0;
        margin: 0 auto;
        text-align: center;
        color: #214a6d;
        font-size: 1.5em;
        font-weight: 600; }
      /* line 110, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      .container .site-projects .site-projects-top span {
        width: 100%;
        text-align: center;
        font-weight: 300;
        font-size: 0.9em;
        padding: 0.5em 0;
        display: inline-block; }
    /* line 118, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    .container .site-projects .site-projects-bot {
      position: relative;
      width: 100%;
      text-align: center;
      margin: 2em 0 3em;
      max-height: 300px;
      display: block;
      overflow: hidden;
      border-bottom: 3px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
      /* line 129, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      .container .site-projects .site-projects-bot img {
        margin: 0 auto;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.2); }

/* line 135, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
.site-wrapper {
  position: relative;
  width: 980px;
  margin: 0 auto; }
  /* line 140, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .site-wrapper .site-wrapper-title {
    position: relative;
    padding: 0 0 2em 0; }
    /* line 144, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    .site-wrapper .site-wrapper-title h2 {
      padding: 0;
      margin: 0 auto;
      text-align: center;
      color: #214a6d;
      font-size: 2em; }

/* line 151, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
header {

  }
  /* line 164, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  header.fixed-top .site-main-menu {
    background: #222222;
    box-shadow: 0 -2px 0 0 #2e8ece inset; }
  /* line 168, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  header .parallax {
    
  }
  /* line 178, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  header .site-logo {
    position: relative;
    z-index: 1;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
    /* line 188, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    header .site-logo h1 {
      color: #fdfdfd;
      font-weight: 600;
      margin: 0;
      padding: 1em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      cursor: default; }
  /* line 200, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  header .site-main-menu {
    float: right;
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 1.2em 0;
    z-index: 10;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    /* line 212, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    header .site-main-menu ul {
      padding: 0;
      margin: 0 10px;
      display: block; }
      /* line 217, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      header .site-main-menu ul li {
        float: left;
        padding: 0 0.5em 0 1em;
        list-style: none; }
        /* line 222, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
        header .site-main-menu ul li a {
          color: #fdfdfd;
          margin: 0;
          display: block;
          text-decoration: none;
          border: 0; }
  /* line 229, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  header .site-header {
    z-index: 1;
    top: 50%;
    height: 210px;
    margin: -105px auto 0;
    text-align: center;
    display: block;
    width: 100%;
    position: relative; }
    /* line 239, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    header .site-header p.first {
      font-size: 2em;
      line-height: 1.2em;
      font-weight: 300;
      margin-bottom: 0;
      display: inline-block;
      float: left;
      width: 100%; }
      /* line 248, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      header .site-header p.first span {
        font-weight: 600;
        color: #2e8ece; }
    /* line 252, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    header .site-header div.hr {
      height: 1px;
      border-bottom: 1px solid #3db4ff;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      margin: 1em auto;
      width: 40%;
      opacity: 0.4; }
      /* line 260, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      header .site-header div.hr.left {
        float: left; }
      /* line 263, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      header .site-header div.hr.right {
        float: right; }
    /* line 266, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    header .site-header p {
      font-size: 1.3em;
      line-height: 1.2em;
      font-weight: 300;
      margin-top: 0;
      display: inline-block;
      float: left;
      width: 100%; }
  /* line 275, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  header span.follow {
    display: inline-block;
    padding-top: 1em;
    font-size: 0.8em;
    line-height: 1.2em;
    font-weight: 300;
    font-style: italic;
    position: absolute;
    top: 5px;
    right: 20px;
    width: auto; }
    /* line 287, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    header span.follow a {
      text-decoration: none;
      border: 0;
      padding: 0 10px; }
    /* line 292, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    header span.follow i {
      font-size: 30px; }
      /* line 295, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      header span.follow i.fa-youtube {
        color: #cc181e; }
      /* line 298, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      header span.follow i.fa-twitter {
        color: #55acee; }
  /* line 301, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  header .site-proceed {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center; }
    /* line 307, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    header .site-proceed a {
      text-decoration: none;
      border: 0;
      bottom: 20%;
      position: absolute;
      -webkit-animation: clicky 1s infinite;
      -moz-animation: clicky 1s infinite;
      -o-animation: clicky 1s infinite;
      animation: clicky 1s infinite; }
      /* line 317, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      header .site-proceed a:hover {
        bottom: 20% !important; }
    /* line 320, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    header .site-proceed i {
      font-size: 4em;
      color: white;
      font-weight: 300; }

/* line 325, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
.site-clients-container {
  padding: 2em 0;
  text-align: center;
  background: #ecf0f1; }
  /* line 330, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .site-clients-container .site-wrapper {
    width: 100%;
    max-width: 100%; }
  /* line 334, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .site-clients-container .site-client-box {
    display: inline-block;
    width: 15%;
    padding: 1em 0 2em; }
    /* line 339, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    .site-clients-container .site-client-box img {
      width: 70%; }

/* line 342, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
footer {
  position: relative;
  margin: 0;
  padding: 2em 0;
  height: 300px;
  background: #214a6d; }
  /* line 349, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  footer .site-wrapper {
    text-align: center; }
    /* line 352, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    footer .site-wrapper p.interested {
      font-weight: 300;
      color: white; }
      /* line 356, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      footer .site-wrapper p.interested > a {
        border: none; }
    /* line 359, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    footer .site-wrapper p {
      font-weight: 600;
      color: white; }
      /* line 363, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      footer .site-wrapper p > a {
        border: none; }
    /* line 366, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    footer .site-wrapper a {
      margin: 0.5em 0 2em;
      font-weight: 600; }
  /* line 370, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  footer span.cc {
    position: absolute;
    bottom: 10%;
    left: 0;
    text-align: center;
    width: 100%;
    color: white; }

/* line 378, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
.btn {
  border-radius: 3px;
  display: inline-block;
  padding: 0.5em 1em;
  font-weight: 600;
  color: white;
  margin: 0 auto;
  background: none repeat scroll 0 0 #3db4ff;
  position: relative;
  opacity: 0.8; }
  /* line 389, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .btn:hover {
    opacity: 1; }
  /* line 392, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .btn:active {
    border-bottom: 0px;
    top: 3px; }

@-webkit-keyframes clicky {
  /* line 398, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  0% {
    opacity: 0;
    bottom: 20%; }

  /* line 401, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  20% {
    opacity: 0.5;
    bottom: 22%; }

  /* line 404, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  100% {
    opacity: 1;
    bottom: 20%; } }

@-moz-keyframes clicky {
  /* line 409, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  0% {
    opacity: 1;
    bottom: 20%; }

  /* line 412, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  20% {
    opacity: 0.5;
    bottom: 22%; }

  /* line 415, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  100% {
    opacity: 1;
    bottom: 20%; } }

@-o-keyframes clicky {
  /* line 420, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  0% {
    opacity: 1;
    bottom: 20%; }

  /* line 423, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  20% {
    opacity: 0.5;
    bottom: 22%; }

  /* line 426, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  100% {
    opacity: 1;
    bottom: 20%; } }

@keyframes clicky {
  /* line 431, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  0% {
    opacity: 1;
    bottom: 20%; }

  /* line 434, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  20% {
    opacity: 0.5;
    bottom: 22%; }

  /* line 437, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  100% {
    opacity: 1;
    bottom: 20%; } }

@media only screen and (min-width: 981px) {
  /* line 444, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .slicknav_menu {
    display: none; } }
@media only screen and (max-width: 980px) {
  /* line 451, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .site-main-menu {
    display: none; }

  /* line 454, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  #header {
    height: auto !important; }
    /* line 457, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    #header .parallax {
      background-size: 980px auto !important; }
    /* line 460, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    #header .site-header p.first {
      font-size: 1.8em; }

  /* line 463, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .site-header {
    height: auto !important;
    left: 0 !important;
    margin: 150px auto 0 !important;
    padding: 0 30px !important;
    top: -70px !important;
    width: 100% !important; }

  /* line 471, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .site-proceed {
    display: none; }

  /* line 474, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .site-logo h1 {
    display: none;
    position: absolute;
    top: 0; }

  /* line 479, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .site-wrapper {
    width: 100%; }

  /* line 482, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .site-what-i-do-box {
    margin: 0 0 20px;
    width: 100% !important; }
    /* line 486, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    .site-what-i-do-box .site-what-i-do-box-bot > p {
      text-align: left; }

  /* line 489, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  #projects {
    padding: 50px 30px 0; }

  /* line 492, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .site-projects-box {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 auto !important; }
    /* line 497, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    .site-projects-box .site-projects-bot {
      max-height: 100% !important; }

  /* line 500, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  .site-client-box {
    width: 50% !important; }

  /* line 503, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  footer {
    height: auto;
    padding: 0 15px; }
    /* line 507, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    footer .site-wrapper p {
      font-size: 14px; }
    /* line 510, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    footer .site-wrapper a {
      font-size: 13px;
      margin: 0.5em 0 5em; } }











<style type="text/css">
.form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px 0 0 0;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;

}
.form-style-5 fieldset{
    border: none;
    margin: 0 0 0 260px;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
    margin: 30px 0 0 260px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
    margin: 0 0 0 260px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 0 0 260px;
    outline: 0;
    padding: 7px;
    width: 50%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}
.form-style-5 .number1 {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    margin-top: 100px;
    line-height: 30px;

    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}
.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #214a6d;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 35%;
    border: 1px solid #214a6d;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #214a6d;
}

footer {
  position: relative;
  margin: 0;
  padding: 2em 0;
  height: 150px;
  background: #214a6d; }
  /* line 349, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  footer .site-wrapper {
    text-align: center; }
    /* line 352, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    footer .site-wrapper p.interested {
      font-weight: 300;
      color: white; }
      /* line 356, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      footer .site-wrapper p.interested > a {
        border: none; }
    /* line 359, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    footer .site-wrapper p {
      font-weight: 600;
      color: white; }
      /* line 363, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
      footer .site-wrapper p > a {
        border: none; }
    /* line 366, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
    footer .site-wrapper a {
      margin: 0.5em 0 2em;
      font-weight: 600; }
  /* line 370, f:/SHIRO/Cloud/Work/shiro/source/stylesheets/style.css.sass */
  footer span .cc {
    position: absolute;
    bottom: 10%;
    left: 0;
    text-align: center;
    width: 100%;
    color: white; }





</style>
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}



.container1 {
  max-width: 400px;
  width: 100%;
  margin: 150px auto auto 400px ;
  position: relative;
}

.container2 {
  max-width: 600px;
  width: 100%;
  margin: -594px 400px 200px auto ;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 10px 0 auto auto;

  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 50px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #1abc9c;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #1abc9c;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}






.dropdown {
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

a {
  color: #fff;
}

.dropdown dd,
.dropdown dt {
  margin: 0px;
  padding: 0px;
}

.dropdown ul {
  margin: -1px 0 0 0;
}

.dropdown dd {
  position: relative;
}

.dropdown a,
.dropdown a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.dropdown dt a {
  background-color: #4F6877;
  display: block;

  padding: 8px 16px 1px 10px;
  min-height: 25px;
  line-height: 15px;
  overflow: hidden;
  border: 0;
  width: 100%;
}

.dropdown dt a span,
.multiSel span {
  cursor: pointer;

  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown dd ul {
  background-color: #4F6877;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 100%;
  list-style: none;
  height: 100px;
  overflow: auto;
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown dd ul li a:hover {
  background-color: #fff;
}

button {
  background-color: #214a6d;
  width: 550px;
  border: 0;
  padding: 10px 0;
  margin: 5px 0;
  text-align: center;
  color: #fff;
  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}
button:hover {
  background-color: #1abc9c;
  width: 550px;
  border: 0;
  padding: 10px 0;
  margin: 5px 0;
  text-align: center;
  color: #fff;

}
.number1 {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    margin-top: 10px;
    line-height: 30px;

    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
  }
    .form-style-5{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px 0 0 0;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;

    }

article.container {
    padding: 50px 0 140px;
}

#cal{
    font-family:'Economica',sans-serif;
    width:200px;
    height:205px;
    position:relative;
    top:30px;
    left:10px;
    background-image:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.9, rgb(52,59,63)),
    color-stop(0.9, rgb(70,80,85)),
    color-stop(1, rgb(82,91,97))
);
    background-image: -moz-linear-gradient(bottom, rgb(52,59,63) 90%, rgb(70,80,85) 91%, rgb(82,91,97) 100%);
    border:1px solid #000;
    border-radius:5px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 5px rgba(0,0,0,0.8);
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    padding:0 9px 10px 11px;
    margin:0 auto;
}

.bigDate {
    position: absolute;
    top:-160px;
    left:0;
    opacity:0;
    -webkit-transform:scale(0.8);
    -moz-transform:scale(0.8);
    -webkit-transition:0.3s linear;
    -moz-transition:0.3s linear;
    -webkit-backface-visibility:hidden;
    font-size: 70px;
    width: 180px;
    text-align: center;
}

#header {
    position:relative;
    height:40px;
    line-height: 40px;
    color: white;
}

#numbers {
    position:relative;
    height:150px;
    background:#444 url(../images/micro_carbon.png);
    box-shadow:1px 1px 1px rgba(0,0,0,0.1) inset,-1px -1px 1px rgba(0,0,0,0.1) inset,0px -1px 0px rgba(255,255,255,0.2),-1px 1px 0px rgba(255,255,255,0.1),1px 0px 0px rgba(255,255,255,0.1);
    border:1px solid black;
}

.left {
    position:absolute;
    top:0;
    left:0;
}

.right {
    position:absolute;
    top:0;
    right:0;
}

h2 {
    position:absolute;
    left:10px;
    right:10px;
    text-align:center;
    font-size:20px;
  line-height: 9px;
}

.day {
    position:absolute;
    top:0;
    left:0;
    cursor:pointer;
    width:25px;
    height:25px;
    font-size:12px;
    text-shadow:0 1px 0 rgba(255,255,255,1);
    text-align:center;
    line-height:29px;
    display:inline-block;
    -webkit-transition:0.3s linear;
    -moz-transition:0.3s linear;
    box-shadow:1px 1px 0 rgba(0,0,0,1) inset,1px 1px 0 rgba(0,0,0,1),-1px -1px 0 rgba(255,255,255,1) inset,0 1px 1px rgba(0,0,0,0.7);
    background-image:-webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(230,230,230)),
    color-stop(1, rgb(235,235,235))
);
    background-image: -moz-linear-gradient(bottom, rgb(230,230,230) 0%, rgb(235,235,235) 100%);
}

.day[prop="1"],.day[prop="4"]{
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
}

.day[prop="2"],.day[prop="5"]{
    -webkit-transition:0.5s ease-in-out;
    -moz-transition:0.5s ease-in-out;
}

.day[prop="3"],.day[prop="6"]{
    -webkit-transition:0.6s linear;
    -moz-transition:0.6s linear;
}

.day[prop="7"],.day[prop="10"]{
    -webkit-transition:0.6s ease-in;
    -moz-transition:0.6s ease-in-out;
}

.day[prop="8"],.day[prop="11"]{
    -webkit-transition:0.6s ease-in-out;
    -moz-transition:0.6s ease-in-out;
}

.day[prop="9"],.day[prop="12"]{
    -webkit-transition:0.5s ease-out;
    -moz-transition:0.5s ease-out;
}

.day[prop="13"],.day[prop="17"]{
    -webkit-transition:0.5s linear;
    -moz-transition:0.5s ease-in-out;
}
.day[prop="14"],.day[prop="18"]{
    -webkit-transition:0.7s linear;
    -moz-transition:0.7s ease-in-out;
}
.day[prop="15"],.day[prop="19"]{
    -webkit-transition:0.6s ease-in-out;
    -moz-transition:0.6s ease-in-out;
}
.day[prop="16"],.day[prop="20"]{
    -webkit-transition:0.4s ease-in-out;
    -moz-transition:0.4s ease-in-out;
}

h2,.monthLink,input[type="radio"] {
    display:none;
    color:#fff !important;
    text-decoration:none;
    text-shadow:0 -1px 0 rgba(0,0,0,0.8);
}

h2[jan],.monthLink[jan] {
    display:block;
}

#feb:target h2[feb],#feb:target .monthLink[feb],
#mar:target h2[mar],#mar:target .monthLink[mar],
#apr:target h2[apr],#apr:target .monthLink[apr],
#may:target h2[may],#may:target .monthLink[may],
#jun:target h2[jun],#jun:target .monthLink[jun],
#jul:target h2[jul],#jul:target .monthLink[jul],
#aug:target h2[aug],#aug:target .monthLink[aug],
#sep:target h2[sep],#sep:target .monthLink[sep],
#oct:target h2[oct],#oct:target .monthLink[oct],
#nov:target h2[nov],#nov:target .monthLink[nov],
#dec:target h2[dec],#dec:target .monthLink[dec]
{
    display:block;
}

footer {
    font-family: 'PT Mono', sans-serif;
}

.month:not(#jan):target h2[jan],.month:not(#jan):target .monthLink[jan]{
    display:none;
}

input[type="radio"]:checked + label{
    background:#f2681d;
    /*box-shadow:0 2px 2px #b85000 inset,2px 0px 2px #b85000 inset, -1px 0px 0px rgba(255,255,255,0.5) inset,0px -1px 0px rgba(255,255,255,0.5) inset; */
    box-shadow:0 1px 0px black inset,1px 0px 0px black inset, -1px 0px 0px rgba(255,255,255,0.5) inset,0px -1px 0px rgba(255,255,255,0.5) inset;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.5);
    font-weight:bold;
}

input[type="radio"]#thirtyone:checked ~ .bigDate[prop="31"],input[type="radio"]#thirty:checked ~ .bigDate[prop="30"],input[type="radio"]#twentynine:checked ~ .bigDate[prop="29"],input[type="radio"]#twentyeight:checked ~ .bigDate[prop="28"],input[type="radio"]#twentyseven:checked ~ .bigDate[prop="27"],input[type="radio"]#twentysix:checked ~ .bigDate[prop="26"],
input[type="radio"]#twentyfive:checked ~ .bigDate[prop="25"],input[type="radio"]#twentyfour:checked ~ .bigDate[prop="24"], input[type="radio"]#twentythree:checked ~ .bigDate[prop="23"], input[type="radio"]#twentytwo:checked ~ .bigDate[prop="22"], input[type="radio"]#twentyone:checked ~ .bigDate[prop="21"], input[type="radio"]#twenty:checked ~ .bigDate[prop="20"],
input[type="radio"]#nineteen:checked ~ .bigDate[prop="19"],input[type="radio"]#eightteen:checked ~ .bigDate[prop="18"], input[type="radio"]#seventeen:checked ~ .bigDate[prop="17"],input[type="radio"]#sixteen:checked ~ .bigDate[prop="16"],input[type="radio"]#fifteen:checked ~ .bigDate[prop="15"],input[type="radio"]#fourteen:checked ~ .bigDate[prop="14"],
input[type="radio"]#thirteen:checked ~ .bigDate[prop="13"], input[type="radio"]#twelve:checked ~ .bigDate[prop="12"],input[type="radio"]#eleven:checked ~ .bigDate[prop="11"],input[type="radio"]#ten:checked ~ .bigDate[prop="10"],input[type="radio"]#nine:checked ~ .bigDate[prop="9"],input[type="radio"]#eight:checked ~ .bigDate[prop="8"],input[type="radio"]#seven:checked ~ .bigDate[prop="7"],
input[type="radio"]#six:checked ~ .bigDate[prop="6"],input[type="radio"]#five:checked ~ .bigDate[prop="5"],input[type="radio"]#four:checked ~ .bigDate[prop="4"],input[type="radio"]#three:checked ~ .bigDate[prop="3"],input[type="radio"]#two:checked ~ .bigDate[prop="2"],input[type="radio"]#one:checked ~ .bigDate[prop="1"] {
    opacity: 1;
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
}

.day[prop="1"],.day[prop="2"],.day[prop="3"],.day[prop="4"],.day[prop="5"],.day[prop="6"],.day[prop="7"]{ top:0px; }

.day[prop="8"],.day[prop="9"],.day[prop="10"],.day[prop="11"],.day[prop="12"],.day[prop="13"],.day[prop="14"]{ top:25px; }

.day[prop="15"],.day[prop="16"],.day[prop="17"],.day[prop="18"],.day[prop="19"],.day[prop="20"],.day[prop="21"]{ top:50px; }

.day[prop="22"],.day[prop="23"],.day[prop="24"],.day[prop="25"],.day[prop="26"],.day[prop="27"],.day[prop="28"]{ top:75px; }

.day[prop="29"],.day[prop="30"],.day[prop="31"]{ top:100px; }

.day[prop="1"],.day[prop="8"],.day[prop="15"],.day[prop="22"],.day[prop="29"]{ left:0px; }

.day[prop="2"],.day[prop="9"],.day[prop="16"],.day[prop="23"],.day[prop="30"]{ left:25px; }

.day[prop="3"],.day[prop="10"],.day[prop="17"],.day[prop="24"],.day[prop="31"]{ left:50px; }

.day[prop="4"],.day[prop="11"],.day[prop="18"],.day[prop="25"]{ left:75px; }

.day[prop="5"],.day[prop="12"],.day[prop="19"],.day[prop="26"]{ left:100px; }

.day[prop="6"],.day[prop="13"],.day[prop="20"],.day[prop="27"]{ left:125px; }

.day[prop="7"],.day[prop="14"],.day[prop="21"],.day[prop="28"]{ left:150px; }

#feb:target .day[prop="30"],#feb:target .day[prop="31"],#apr:target .day[prop="31"],#sep:target .day[prop="31"],#jun:target .day[prop="31"],#nov:target .day[prop="31"]{ display:none; }

#feb:target .day[prop="1"],#feb:target .day[prop="2"],#feb:target .day[prop="3"],#feb:target .day[prop="4"]{ top:0px; }

#feb:target .day[prop="5"],#feb:target .day[prop="6"],#feb:target .day[prop="10"],#feb:target .day[prop="11"],#feb:target .day[prop="7"],#feb:target .day[prop="8"],#feb:target .day[prop="9"]{ top:25px; }

#feb:target .day[prop="12"],#feb:target .day[prop="13"],#feb:target .day[prop="14"],#feb:target .day[prop="15"],#feb:target .day[prop="16"],#feb:target .day[prop="17"],#feb:target .day[prop="18"]{ top:50px; }

#feb:target .day[prop="19"],#feb:target .day[prop="20"],#feb:target .day[prop="21"],#feb:target .day[prop="22"],#feb:target .day[prop="23"],#feb:target .day[prop="24"],#feb:target .day[prop="25"]{ top:75px; }

#feb:target .day[prop="26"],#feb:target .day[prop="27"],#feb:target .day[prop="28"],#feb:target .day[prop="29"]{ top:100px; }

#feb:target .day[prop="5"],#feb:target .day[prop="12"],#feb:target .day[prop="19"],#feb:target .day[prop="26"]{ left:0px; }

#feb:target .day[prop="6"],#feb:target .day[prop="13"],#feb:target .day[prop="20"],#feb:target .day[prop="27"]{ left:25px; }

#feb:target .day[prop="7"],#feb:target .day[prop="14"],#feb:target .day[prop="21"],#feb:target .day[prop="28"]{ left:50px; }

#feb:target .day[prop="1"],#feb:target .day[prop="8"],#feb:target .day[prop="15"],#feb:target .day[prop="22"],#feb:target .day[prop="29"]{ left:75px; }

#feb:target .day[prop="2"],#feb:target .day[prop="9"],#feb:target .day[prop="16"],#feb:target .day[prop="23"]{ left:100px; }

#feb:target .day[prop="3"],#feb:target .day[prop="10"],#feb:target .day[prop="17"],#feb:target .day[prop="24"]{ left:125px; }

#feb:target .day[prop="4"],#feb:target .day[prop="11"],#feb:target .day[prop="18"],#feb:target .day[prop="25"]{ left:150px; }


#mar:target .day[prop="1"],#mar:target .day[prop="2"],#mar:target .day[prop="3"]{ top:0px; }

#mar:target .day[prop="4"],#mar:target .day[prop="5"],#mar:target .day[prop="6"],#mar:target .day[prop="10"],#mar:target .day[prop="7"],#mar:target .day[prop="8"],#mar:target .day[prop="9"]{ top:25px; }

#mar:target .day[prop="11"],#mar:target .day[prop="12"],#mar:target .day[prop="13"],#mar:target .day[prop="14"],#mar:target .day[prop="15"],#mar:target .day[prop="16"],#mar:target .day[prop="17"]{ top:50px; }

#mar:target .day[prop="18"],#mar:target .day[prop="19"],#mar:target .day[prop="20"],#mar:target .day[prop="21"],#mar:target .day[prop="22"],#mar:target .day[prop="23"],#mar:target .day[prop="24"]{ top:75px; }

#mar:target .day[prop="25"],#mar:target .day[prop="26"],#mar:target .day[prop="27"],#mar:target .day[prop="28"],#mar:target .day[prop="29"],#mar:target .day[prop="30"],#mar:target .day[prop="31"]{ top:100px; }

#mar:target .day[prop="4"],#mar:target .day[prop="11"],#mar:target .day[prop="18"],#mar:target .day[prop="25"]{ left:0px; }

#mar:target .day[prop="5"],#mar:target .day[prop="12"],#mar:target .day[prop="19"],#mar:target .day[prop="26"]{ left:25px; }

#mar:target .day[prop="6"],#mar:target .day[prop="13"],#mar:target .day[prop="20"],#mar:target .day[prop="27"]{ left:50px; }

#mar:target .day[prop="7"],#mar:target .day[prop="14"],#mar:target .day[prop="21"],#mar:target .day[prop="28"]{ left:75px; }

#mar:target .day[prop="1"],#mar:target .day[prop="8"],#mar:target .day[prop="15"],#mar:target .day[prop="22"],#mar:target .day[prop="29"]{ left:100px; }

#mar:target .day[prop="2"],#mar:target .day[prop="9"],#mar:target .day[prop="16"],#mar:target .day[prop="23"],#mar:target .day[prop="30"]{ left:125px; }

#mar:target .day[prop="3"],#mar:target .day[prop="10"],#mar:target .day[prop="17"],#mar:target .day[prop="24"],#mar:target .day[prop="31"]{ left:150px; }

/*may*/

#may:target .day[prop="1"],#may:target .day[prop="2"],#may:target .day[prop="3"],#may:target .day[prop="4"],#may:target .day[prop="5"]{ top:0px; }

#may:target .day[prop="6"],#may:target .day[prop="10"],#may:target .day[prop="7"],#may:target .day[prop="8"],#may:target .day[prop="9"],#may:target .day[prop="11"],#may:target .day[prop="12"]{ top:25px; }

#may:target .day[prop="13"],#may:target .day[prop="14"],#may:target .day[prop="15"],#may:target .day[prop="16"],#may:target .day[prop="17"],#may:target .day[prop="18"],#may:target .day[prop="19"]{ top:50px; }

#may:target .day[prop="20"],#may:target .day[prop="21"],#may:target .day[prop="22"],#may:target .day[prop="23"],#may:target .day[prop="24"],#may:target .day[prop="25"],#may:target .day[prop="26"]{ top:75px; }

#may:target .day[prop="27"],#may:target .day[prop="28"],#may:target .day[prop="29"],#may:target .day[prop="30"],#may:target .day[prop="31"]{ top:100px; }

#may:target .day[prop="6"],#may:target .day[prop="13"],#may:target .day[prop="20"],#may:target .day[prop="27"]{ left:0px; }

#may:target .day[prop="7"],#may:target .day[prop="14"],#may:target .day[prop="21"],#may:target .day[prop="28"]{ left:25px; }

#may:target .day[prop="1"],#may:target .day[prop="8"],#may:target .day[prop="15"],#may:target .day[prop="22"],#may:target .day[prop="29"]{ left:50px; }

#may:target .day[prop="2"],#may:target .day[prop="9"],#may:target .day[prop="16"],#may:target .day[prop="23"],#may:target .day[prop="30"]{ left:75px; }

#may:target .day[prop="3"],#may:target .day[prop="10"],#may:target .day[prop="17"],#may:target .day[prop="24"],#may:target .day[prop="31"]{ left:100px; }

#may:target .day[prop="4"],#may:target .day[prop="11"],#may:target .day[prop="18"],#may:target .day[prop="25"]{ left:125px; }

#may:target .day[prop="5"],#may:target .day[prop="12"],#may:target .day[prop="19"],#may:target .day[prop="26"]{ left:150px; }

/* June */

#jun:target .day[prop="1"],#jun:target .day[prop="2"]{ top:0px; }

#jun:target .day[prop="3"],#jun:target .day[prop="4"],#jun:target .day[prop="5"],#jun:target .day[prop="6"],#jun:target .day[prop="7"],#jun:target .day[prop="8"],#jun:target .day[prop="9"]{ top:25px; }

#jun:target .day[prop="10"],#jun:target .day[prop="11"],#jun:target .day[prop="12"],#jun:target .day[prop="13"],#jun:target .day[prop="14"],#jun:target .day[prop="15"],#jun:target .day[prop="16"]{top:50px; }

#jun:target .day[prop="17"],#jun:target .day[prop="18"], #jun:target .day[prop="19"],#jun:target .day[prop="20"],#jun:target .day[prop="21"],#jun:target .day[prop="22"],#jun:target .day[prop="23"]{ top:75px; }

#jun:target .day[prop="24"],#jun:target .day[prop="25"],#jun:target .day[prop="26"],#jun:target .day[prop="27"],#jun:target .day[prop="28"],#jun:target .day[prop="29"],#jun:target .day[prop="30"]{ top:100px; }

#jun:target .day[prop="3"],#jun:target .day[prop="10"],#jun:target .day[prop="17"],#jun:target .day[prop="24"]{ left:0px; }

#jun:target .day[prop="4"],#jun:target .day[prop="11"],#jun:target .day[prop="18"],#jun:target .day[prop="25"]{ left:25px; }

#jun:target .day[prop="5"],#jun:target .day[prop="12"],#jun:target .day[prop="19"],#jun:target .day[prop="26"],#jun:target .day[prop="29"]{ left:50px; }

#jun:target .day[prop="6"],#jun:target .day[prop="13"],#jun:target .day[prop="20"],#jun:target .day[prop="27"] { left:75px; }

#jun:target .day[prop="7"],#jun:target .day[prop="14"],#jun:target .day[prop="21"],#jun:target .day[prop="28"]{ left:100px; }

#jun:target .day[prop="1"],#jun:target .day[prop="8"],#jun:target .day[prop="15"],#jun:target .day[prop="22"],#jun:target .day[prop="29"]{ left:125px; }

#jun:target .day[prop="2"],#jun:target .day[prop="9"],#jun:target .day[prop="16"],#jun:target .day[prop="23"],#jun:target .day[prop="30"]{ left:150px; }

/*aug*/

#aug:target .day[prop="1"],#aug:target .day[prop="2"],#aug:target .day[prop="3"],#aug:target .day[prop="4"]{ top:0px; }

#aug:target .day[prop="5"],#aug:target .day[prop="6"],#aug:target .day[prop="10"],#aug:target .day[prop="11"],#aug:target .day[prop="7"],#aug:target .day[prop="8"],#aug:target .day[prop="9"]{ top:25px; }

#aug:target .day[prop="12"],#aug:target .day[prop="13"],#aug:target .day[prop="14"],#aug:target .day[prop="15"],#aug:target .day[prop="16"],#aug:target .day[prop="17"],#aug:target .day[prop="18"]{ top:50px; }

#aug:target .day[prop="19"],#aug:target .day[prop="20"],#aug:target .day[prop="21"],#aug:target .day[prop="22"],#aug:target .day[prop="23"],#aug:target .day[prop="24"],#aug:target .day[prop="25"]{ top:75px; }

#aug:target .day[prop="26"],#aug:target .day[prop="27"],#aug:target .day[prop="28"],#aug:target .day[prop="29"],#aug:target .day[prop="30"],#aug:target .day[prop="31"]{ top:100px; }

#aug:target .day[prop="5"],#aug:target .day[prop="12"],#aug:target .day[prop="19"],#aug:target .day[prop="26"]{ left:0px; }

#aug:target .day[prop="6"],#aug:target .day[prop="13"],#aug:target .day[prop="20"],#aug:target .day[prop="27"]{ left:25px; }

#aug:target .day[prop="7"],#aug:target .day[prop="14"],#aug:target .day[prop="21"],#aug:target .day[prop="28"]{ left:50px; }

#aug:target .day[prop="1"],#aug:target .day[prop="8"],#aug:target .day[prop="15"],#aug:target .day[prop="22"],#aug:target .day[prop="29"]{ left:75px; }

#aug:target .day[prop="2"],#aug:target .day[prop="9"],#aug:target .day[prop="16"],#aug:target .day[prop="23"],#aug:target .day[prop="30"]{ left:100px; }

#aug:target .day[prop="3"],#aug:target .day[prop="10"],#aug:target .day[prop="17"],#aug:target .day[prop="24"],#aug:target .day[prop="31"]{ left:125px; }

#aug:target .day[prop="4"],#aug:target .day[prop="11"],#aug:target .day[prop="18"],#aug:target .day[prop="25"]{ left:150px; }

/* sep */

#sep:target .day[prop="1"]{ top:0px; }

#sep:target .day[prop="2"],#sep:target .day[prop="3"],#sep:target .day[prop="4"],#sep:target .day[prop="5"],#sep:target .day[prop="6"],#sep:target .day[prop="7"],#sep:target .day[prop="8"]{ top:25px; }

#sep:target .day[prop="9"],#sep:target .day[prop="10"],#sep:target .day[prop="11"],#sep:target .day[prop="12"],#sep:target .day[prop="13"],#sep:target .day[prop="14"],#sep:target .day[prop="15"]{top:50px; }

#sep:target .day[prop="16"],#sep:target .day[prop="17"],#sep:target .day[prop="18"], #sep:target .day[prop="19"],#sep:target .day[prop="20"],#sep:target .day[prop="21"],#sep:target .day[prop="22"]{ top:75px; }

#sep:target .day[prop="23"],#sep:target .day[prop="24"],#sep:target .day[prop="25"],#sep:target .day[prop="26"],#sep:target .day[prop="27"],#sep:target .day[prop="28"],#sep:target .day[prop="29"]{ top:100px; }

#sep:target .day[prop="30"] {top:125px;}

#sep:target .day[prop="2"],#sep:target .day[prop="9"],#sep:target .day[prop="16"],#sep:target .day[prop="23"],#sep:target .day[prop="30"]{ left:0px; }

#sep:target .day[prop="3"],#sep:target .day[prop="10"],#sep:target .day[prop="17"],#sep:target .day[prop="24"]{ left:25px; }

#sep:target .day[prop="4"],#sep:target .day[prop="11"],#sep:target .day[prop="18"],#sep:target .day[prop="25"]{ left:50px; }

#sep:target .day[prop="5"],#sep:target .day[prop="12"],#sep:target .day[prop="19"],#sep:target .day[prop="26"],#sep:target .day[prop="29"]{ left:75px; }

#sep:target .day[prop="6"],#sep:target .day[prop="13"],#sep:target .day[prop="20"],#sep:target .day[prop="27"] { left:100px; }

#sep:target .day[prop="7"],#sep:target .day[prop="14"],#sep:target .day[prop="21"],#sep:target .day[prop="28"]{ left:125px; }

#sep:target .day[prop="1"],#sep:target .day[prop="8"],#sep:target .day[prop="15"],#sep:target .day[prop="22"],#sep:target .day[prop="29"]{ left:150px; }

/* Oct */

#oct:target .day[prop="1"],#oct:target .day[prop="2"],#oct:target .day[prop="3"],#oct:target .day[prop="4"],#oct:target .day[prop="5"],#oct:target .day[prop="6"]{ top:0px; }

#oct:target .day[prop="7"],#oct:target .day[prop="8"],#oct:target .day[prop="9"],#oct:target .day[prop="10"],#oct:target .day[prop="11"],#oct:target .day[prop="12"],#oct:target .day[prop="13"]{ top:25px; }

#oct:target .day[prop="14"],#oct:target .day[prop="15"],#oct:target .day[prop="16"],#oct:target .day[prop="17"],#oct:target .day[prop="18"],#oct:target .day[prop="19"],#oct:target .day[prop="20"]{ top:50px; }

#oct:target .day[prop="21"],#oct:target .day[prop="22"],#oct:target .day[prop="23"],#oct:target .day[prop="24"],#oct:target .day[prop="25"],#oct:target .day[prop="26"],#oct:target .day[prop="27"]{ top:75px; }

#oct:target .day[prop="28"],#oct:target .day[prop="29"],#oct:target .day[prop="30"],#oct:target .day[prop="31"]{ top:100px; }

#oct:target .day[prop="7"],#oct:target .day[prop="14"],#oct:target .day[prop="21"],#oct:target .day[prop="28"]{ left:0px; }

#oct:target .day[prop="1"],#oct:target .day[prop="8"],#oct:target .day[prop="15"],#oct:target .day[prop="22"],#oct:target .day[prop="29"]{ left:25px; }

#oct:target .day[prop="2"],#oct:target .day[prop="9"],#oct:target .day[prop="16"],#oct:target .day[prop="23"],#oct:target .day[prop="30"]{ left:50px; }

#oct:target .day[prop="3"],#oct:target .day[prop="10"],#oct:target .day[prop="17"],#oct:target .day[prop="24"],#oct:target .day[prop="31"]{ left:75px; }

#oct:target .day[prop="4"],#oct:target .day[prop="11"],#oct:target .day[prop="18"],#oct:target .day[prop="25"]{ left:100px; }

#oct:target .day[prop="5"],#oct:target .day[prop="12"],#oct:target .day[prop="19"],#oct:target .day[prop="26"]{ left:125px; }

#oct:target .day[prop="6"],#oct:target .day[prop="13"],#oct:target .day[prop="20"],#oct:target .day[prop="27"]{ left:150px; }

/* Nov */

#nov:target .day[prop="1"],#nov:target .day[prop="2"],#nov:target .day[prop="3"]{ top:0px; }

#nov:target .day[prop="4"],#nov:target .day[prop="5"],#nov:target .day[prop="6"],#nov:target .day[prop="7"],#nov:target .day[prop="8"],#nov:target .day[prop="9"],#nov:target .day[prop="10"]{ top:25px; }

#nov:target .day[prop="11"],#nov:target .day[prop="12"],#nov:target .day[prop="13"],#nov:target .day[prop="14"],#nov:target .day[prop="15"],#nov:target .day[prop="16"],#nov:target .day[prop="17"]{top:50px; }

#nov:target .day[prop="18"], #nov:target .day[prop="19"],#nov:target .day[prop="20"],#nov:target .day[prop="21"],#nov:target .day[prop="22"],#nov:target .day[prop="23"],#nov:target .day[prop="24"]{ top:75px; }

#nov:target .day[prop="25"],#nov:target .day[prop="26"],#nov:target .day[prop="27"],#nov:target .day[prop="28"],#nov:target .day[prop="29"],#nov:target .day[prop="30"]{ top:100px; }

#nov:target .day[prop="4"],#nov:target .day[prop="11"],#nov:target .day[prop="18"],#nov:target .day[prop="25"]{ left:0px; }

#nov:target .day[prop="5"],#nov:target .day[prop="12"],#nov:target .day[prop="19"],#nov:target .day[prop="26"]{ left:25px; }

#nov:target .day[prop="6"],#nov:target .day[prop="13"],#nov:target .day[prop="20"],#nov:target .day[prop="27"] { left:50px; }

#nov:target .day[prop="7"],#nov:target .day[prop="14"],#nov:target .day[prop="21"],#nov:target .day[prop="28"]{ left:75px; }

#nov:target .day[prop="1"],#nov:target .day[prop="8"],#nov:target .day[prop="15"],#nov:target .day[prop="22"],#nov:target .day[prop="29"]{ left:100px; }

#nov:target .day[prop="2"],#nov:target .day[prop="9"],#nov:target .day[prop="16"],#nov:target .day[prop="23"],#nov:target .day[prop="30"]{ left:125px; }

#nov:target .day[prop="3"],#nov:target .day[prop="10"],#nov:target .day[prop="17"],#nov:target .day[prop="24"]{ left:150px; }

/*Dec*/

#dec:target .day[prop="1"]{ top:0px; }

#dec:target .day[prop="2"],#dec:target .day[prop="3"],#dec:target .day[prop="4"],#dec:target .day[prop="5"],#dec:target .day[prop="6"],#dec:target .day[prop="7"],#dec:target .day[prop="8"]{ top:25px; }

#dec:target .day[prop="9"],#dec:target .day[prop="10"],#dec:target .day[prop="11"],#dec:target .day[prop="12"],#dec:target .day[prop="13"],#dec:target .day[prop="14"],#dec:target .day[prop="15"]{top:50px; }

#dec:target .day[prop="16"],#dec:target .day[prop="17"],#dec:target .day[prop="18"], #dec:target .day[prop="19"],#dec:target .day[prop="20"],#dec:target .day[prop="21"],#dec:target .day[prop="22"]{ top:75px; }

#dec:target .day[prop="23"],#dec:target .day[prop="24"],#dec:target .day[prop="25"],#dec:target .day[prop="26"],#dec:target .day[prop="27"],#dec:target .day[prop="28"],#dec:target .day[prop="29"]{ top:100px; }

#dec:target .day[prop="30"],#dec:target .day[prop="31"] {top:125px;}

#dec:target .day[prop="2"],#dec:target .day[prop="9"],#dec:target .day[prop="16"],#dec:target .day[prop="23"],#dec:target .day[prop="30"]{ left:0px; }

#dec:target .day[prop="3"],#dec:target .day[prop="10"],#dec:target .day[prop="17"],#dec:target .day[prop="24"],#dec:target .day[prop="31"]{ left:25px; }

#dec:target .day[prop="4"],#dec:target .day[prop="11"],#dec:target .day[prop="18"],#dec:target .day[prop="25"]{ left:50px; }

#dec:target .day[prop="5"],#dec:target .day[prop="12"],#dec:target .day[prop="19"],#dec:target .day[prop="26"],#dec:target .day[prop="29"]{ left:75px; }

#dec:target .day[prop="6"],#dec:target .day[prop="13"],#dec:target .day[prop="20"],#dec:target .day[prop="27"] { left:100px; }

#dec:target .day[prop="7"],#dec:target .day[prop="14"],#dec:target .day[prop="21"],#dec:target .day[prop="28"]{ left:125px; }

#dec:target .day[prop="1"],#dec:target .day[prop="8"],#dec:target .day[prop="15"],#dec:target .day[prop="22"],#dec:target .day[prop="29"]{ left:150px; }
​